{% extends "dashboard_base.html" %}
{% load static %}


{% block heading %}

  {% with title="Dashboard"  description="Manage your deals, transactions, etc." %}
    {{ block.super }}
  {% endwith %}

{% endblock heading %}


{% block sidebar_menu %}

  {% url 'merchant_manage_deals' as url %}
  {% include "snippet_sidebar_item.html" with name='Deals' url=url %}

  {% url 'merchant_transactions' as url %}
  {% include "snippet_sidebar_item.html" with name='Transactions' url=url %}

  {% url 'account_profile_edit' as url %}
  {% include "snippet_sidebar_item.html" with name='Settings' url=url %}

{% endblock sidebar_menu %}