{% extends 'merchant/dashboard.html' %}
{% load static %}

{% block sidebar_menu %}
    {% with active_tab='Deals' %}
      {{ block.super }}
    {% endwith %}

{% endblock sidebar_menu %}


{% block subview %}

    <div class="col-xs-12 col-sm-12 col-md-2">
      <div>
        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="{% url 'merchant_manage_deals' %}" title="Click to see all deals">See All Deals</a>
          </li>
          <li role="presentation">
            <a  id="id_edit_deal_btn" href="#" title="Click to edit this deal">Edit This Deal</a>
          </li>
          <li role="presentation">
            <a id="id_cancel_deal_edit_btn" class="hide" title="Click to cancel editing this deal" href="#">Cancel Editing</a>
          </li>
        </ul>
      </div>
    </div>

    {% include 'merchant/deal_detail.html' with deal=deal %}
    {% include 'merchant/deal_edit.html' with deal=deal %}

{% endblock subview %}

{% block extended_js %}
  <script type="text/javascript" src="{% static 'bower_components/d3/d3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/merchant.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/trends.js' %}"></script>

{% endblock extended_js %}
