{% extends 'merchant/dashboard.html' %}
{% load static %}

{% block sidebar_menu %}
    {% with active_tab='Deals' %}
      {{ block.super }}
    {% endwith %}

{% endblock sidebar_menu %}


{% block subview %}

    <div class="col-xs-12 col-sm-12 col-md-2">
      <div>
        <a href="{% url 'merchant_manage_deals' %}" title="Click to see all deals" class="btn btn-action">See All Deals</a>
        <a href="#" id="id_edit_deal_btn" title="Click to edit this deal" class="btn btn-action">Edit This Deal</a>
        <a href="#" id="id_cancel_deal_edit_btn" title="Click to cancel editing this deal" class="btn btn-action hide">Cancel Editing</a>
      </div>
    </div>

    {% include 'merchant/deal_detail.html' with deal=deal %}
    {% include 'merchant/deal_edit.html' with deal=deal %}

{% endblock subview %}

{% block extended_js %}
  <script type="text/javascript" src="{% static 'bower_components/d3/d3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/merchant.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/trends.js' %}"></script>

{% endblock extended_js %}
