{% extends "base.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/deals.css" %}">
{% endblock %}

{% block main %}
   <div class="main">
    {% if categories %}
    <div class="row">
        {% for category in categories %}
            <div class="col-sm-4">
                <img src="{{ category.rand_photo.url }}" />
                <a href="{% url 'deal-category-with-slug' %}?category={{ category.slug }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="placeholder">
            <p>There is no deal categoryc for your location.</p>
        </div>
    {% endif %}
    </div>
{% endblock %}
