{% extends "base.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/deals.css" %}">
{% endblock %}

{% block main %}
   <div class="main">
    {% if deal %}
    <div class="row">
        <div class="col-md-8">
            <h2>{{ deal.title }}</h2>
            <p class="mini-text">{{ deal.state_name }}</p>
            <div class="infix">
                <img src="{{ deal.image.url }}">
            </div>
            <div class="description">
                <p>{{ deal.description }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <h2>${{ deal.price }}</h2>
            <button class="btn-action btn-form-submit">Buy</button>
        </div>
    </div>
    <div class="second row">
        <div class="col-md-8">
            <div class="map"></div>
        </div>
        <div class="col-md-4">
            <h3>Location of Dealer</h3>
            <address>{{ deal.address }}</address>
            <a href="#">Get Directions</a>
        </div>
    </div>
    {% else %}
        <div class="placeholder">
            <p>Sorry, Deal couldn't find this deal.</p>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block extended_js %}
    <script src={% static 'js/map.js' %}></script>
{% endblock %}