{% extends "base.html" %}
{% load static %}
{% load humanize %}



{% block main %}

    {% if deal %}

    <!-- banner section -->
    <section class="row" id="banner-section">

        <!-- heading -->
        {% with deal.advertiser.name|add:". "|add:deal.address as description %}
        {% include "snippet_section_heading.html" with title=deal.title  description=description %}
        {% endwith %}

        <!-- deals image(s) -->
        <div class="col-sm-8">
            <div class="deal-image">
                {% include "snippet_image_card.html" with url=deal.image.url %}
            </div>
        </div>

        <!-- deal specs -->
        <div class="col-sm-4">
            <div class="deals-specs">

                <!-- Prices -->
                <div class="row prices">
                    <div class="col-xs-12">
                        <p class="original">{{ deal.currency_symbol }} {{ deal.original_price|intcomma }}</p>
                        <h2 class="current">{{ deal.currency_symbol  }} {{ deal.price|intcomma }}</h2>
                    </div>
                </div>

                <!-- Price specs-->
                <div class="row price-specs">
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-xs-6 text-left"><p>Value</p></div>
                        <div class="col-xs-6 text-right">
                            <p>{{ deal.currency_symbol }} {{ deal.original_price|intcomma }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-xs-6 text-left"><p>Discount</p></div>
                        <div class="col-xs-6 text-right">
                            <p>{{ deal.discount }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-xs-6 text-left"><p>You Pay</p></div>
                        <div class="col-xs-6 text-right">
                            <p>{{ deal.currency_symbol  }} {{ deal.price|intcomma }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-xs-6 text-left"><p>Purchases</p></div>
                        <div class="col-xs-6 text-right">
                            <p>{{ deal.quorum|default:0 }} | {{ deal.max_quantity_available }}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>

                <!-- Call to action -->
                {% if not deal.quorum %}
                    <form action="/cart/add/" method="POST">
                    {% csrf_token %}
                {% else %}
                    <form>
                {% endif %}
                    <input type="hidden" name="dealid" value="{{deal.id}}" />
                    <div class="row call-to-action">
                        <div class="col-md-8 col-md-offset-2">
                            {% if not deal.quorum %}
                                <button type="submit" id="buy-btn" class="btn-action"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                            {% else %}
                                <button id="buy-btn" class="btn-action">Express Interest</button>
                            {% endif %}
                        </div>
                    </div>
                </form>


                <!-- Sharing options -->
                <div class="row share-options">
                    <div class="col-xs-12">
                        <p class="mini-label">Share this deal</p>
                    </div>
                    <div class="col-xs-12">
                        <ul class="social-share-links">
                            <li><a href="" class="btn-facebook"><i class="fa fa-facebook-official fa-fw"></i></a></li>
                            <li><a href="" class="btn-twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href="" class="btn-instagram"><i class="fa fa-instagram fa-fw"></i></a></li>
                            <li><a href="" class="btn-pinterest"><i class="fa fa-pinterest fa-fw"></i></a></li>
                            <li><a href="" class="btn-email"><i class="fa fa-envelope fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <div class="row" id="banner-section">
        <div class="col-xs-12">
            <div class="divider"></div>
        </div>
    </div>

    <section class="row details-section">
        <!-- deal description -->
        <div class="col-md-6">
            <h4 class="section-label"><i class="fa fa-list-alt"></i> Description</h4>
            <div class="description-text">{{deal.description|default:'<p>No description given for this deal.</p>'}}</div>
        </div>
        <!-- deal location/map -->
        <div class="col-md-6">
            <h4 class="section-label"><i class="fa fa-map-marker"></i> Directions</h4>
            <address id="map-ref-address" style="display:none;">{{ deal.address }}</address>
            <div class="image-frame card">
                <div id="map" style="width:100%; height:450px"></div>
            </div>
        </div>
    </section>

    {% else %}
        <div class="placeholder">
            <p>Sorry, We couldn't find this deal.</p>
        </div>
    {% endif %}

{% endblock main%}

{% block extended_js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA99nlAubrvHjAlDH3yRUrLLWQLpvDKg5c&libraries=places"></script>
    <script src={% static 'js/map.js' %}></script>
{% endblock %}
