{% extends "base.html" %} {% load static %} {% block main %}
<!-- banner section -->
<section class="row" id="banner-section">
  <!-- popular categories -->
  <div class="hidden-xs col-sm-3 col-lg-2">
    <h4 class="section-label">Popular Categories</h4>
    <ul class="category-menu label-link-list-v">
      {% for category in popular_categories %}
      <li><a href="{% url 'deal-filter-with-slug' filter_type='category' filter_slug=category.slug %}">{{ category.name|truncatechars:30 }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <!-- featured deals -->
  <div class="col-sm-9 col-lg-10">
    <div class="featured-deals">
      <h4 class="section-label hidden-xs">Featured Deals</h4> {% include "snippet_deal_gallery.html" with deals=featured_deals %}
    </div>
  </div>
  <div class="col-xs-12">
    <div class="divider"></div>
  </div>
</section>
<!-- latest deals section -->
<section class="row" id="latest-section">
  {% autoescape off %} {{ rendered_deal_list }} {% endautoescape %}
</section>
{% endblock main %}
{% block extended_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>
<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
{% endblock extended_js %}

