{% extends "base.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/deals.css" %}">
{% endblock %}

{% block main %}
	{% if deals %}
	<div class="row">
		{% for deal in deals %}
			<div class="col-sm-12 col-md-4 deal-item">
            <a href="{% url 'deal' deal.id %}">
				<div class="col-xs-12 fill">
					<img alt="{{ deal.title }}"/>
				</div>
                <div class="heading col-md-7">{{ deal.title}}</div>
			    <div class="prices col-md-5">
                    <span><strike>${{ deal.original_price }}</strike></span>
				    <span>${{ deal.deal_price }}</span>
			    </div>
                <div class="col-sm-12">
                    <address><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{ deal.deal_address }}</address>
                </div>
            </a>
			</div>
		{% endfor %}
	</div>
	{% else %}
		<div class="placeholder">
            <p>There is no listing for deals in your location.</p>
        </div>
	{% endif %}
{% endblock %}
