{% extends "deals/deal_list_base.html" %}
{% load static %}

{% block extended_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/page_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/deals.css' %}">
{% endblock %}

{% block main %}
        <section class="row">
            <div class="section-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Available Merchants</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="divider"></div>
                </div>
            </div>
            {% if collections_page %}
            <div class="col-sm-12">
                <div class="packery-grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                {% for advertiser in collections_page %}
                    <div class="grid-item card">
                        <a  class="item-image-wrapper" href="{% url 'deal-advertiser-with-slug' advertiser.slug %}">
                            <img src="{{ advertiser.image|default:'http://res.cloudinary.com/awiliuzo/image/upload/v1447153952/default_myoi9r.png' }}" />
                        </a>
                        <div class="item-info">
                            <h3><a href="{% url 'deal-advertiser-with-slug' advertiser.slug %}">{{ advertiser.name }}</a></h3>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <div class="placeholder">
                    <p>Oops! No deal category was found for your location.</p>
                </div>
            </div>
            {% endif %}
        </section>
        {% include 'snippet_pagination.html'  with page=categories_page pagination_base_url=pagination_base_url %}
{% endblock %}
