{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="spacer">Support</h2>
                <br />
                <p>
                    For enquiries please call these toll free lines:
                </p>
                <p>
                    07002341000<br />
                    07002341002<br />
                    07002341004<br />
                </p>
                <p>
                    Email:
                </p>
                <p>
                    customercare@troupon.com
                </p>
            </div>
        </div>
    </div>
{% endblock main %}