{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="spacer">Team Members</h2>
                <br />
                <h3>Our awesome team members include</h3>
                <br />
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://github.com/andela-tadesanya">Tosin Adesanya</a></li>
                    <li class="list-group-item"><a href="https://github.com/andela-sjames">Samuel James</a></li>
                    <li class="list-group-item"><a href="https://github.com/andela-osule">Oluwafemi Sule</a></li>
                    <li class="list-group-item"><a href="https://github.com/andela-uawili">Uzo Awili</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main %}