<div style="overflow: hidden;">

    <div style="background-color:#fff;min-height:100%;line-height:1.6;margin:0;padding:0;width:100%">

        <div style="background-color:#f6f6f6;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;display:block;margin:0 auto;max-width:580px;padding:10%;vertical-align:top;text-align:left">

            <h1 style="margin:0;margin-bottom:15px;padding:0;color:#f26521">Hi, <br>Here are the trending deals on Troupon</h1>
            
            <div style="width:auto;margin-bottom:15px;text-align:left;vertical-align:top;">

                <div style="padding-left: 0px;margin-bottom: 20px;">
                    {% for deal in trending_deals %}
                    <div style="padding-left: 0px; margin-bottom: 20px; background-color: #FFF;">
                        <h2 style="position: relative; display: block; padding: 10px 15px;">{{ deal }}</h2>
                    </div>
                    {% empty %}
                    <p style="position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #FFF;">No Popular Posts Today </p>
                    {% endfor %}
                </div>
            </div>
            
            <a href="{{ troupon_url }}" style="background-color:#f26521;border:solid 1px #f26521;border-color:#f26521;border-radius:5px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;text-transform:capitalize" target="_blank">Click to view</a>


            <p style="margin:15px 0px;padding:0">Thanks, Troupon Team.</p>

        </div>

    </div>

</div>