{% extends "base.html" %}
{% load static%}

{% block main %}

<div class="col-md-2">


</div>
<div class="col-md-8">

    {% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" id="merchantform" action="{% url 'merchant' %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="form-group col-lg-12">
                <label>Name</label>
                <div class="custom-input-group">
                    <input type="text" name="name" class="form-control" id="id_name" value="" placeholder="company name">
                </div>
            </div>


          <div class="custom-form-group col-lg-6">
                <label>Slug:</label>
                <div class="custom-input-group">
                    <input type="text" name="slug" class="form-control" id="" value="" placeholder="">
                </div>
          </div>

          <div class="custom-form-group col-lg-6">
                <label>Address:</label>
                <div class="custom-input-group">
                    <input type="text" name="address" class="form-control" id="" value="" placeholder="">
                </div>
          </div>


        <div class="form-group col-lg-12">
            <label>Province/State <span class="label-asterik">*</span></label>
            <div class="custom-input-group">
                <span class="right-icon"><i class="fa fa-angle-down"></i></span>
                <select name="user_state" placeholder="Ikeja.Lagos">
                {% for choice in states.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == states.default %}selected{% endif %} >
                    {{ choice.1 }}
                    </option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="custom-form-group col-lg-6">
            <label>Telephone:</label>
            <div class="custom-input-group">
                <input type="text" name="telephone" class="form-control" id="" value="" placeholder="startwith +234" required>
            </div>
        </div>

        <div class="custom-form-group col-lg-6" style="display:none">
            <label>Email:</label>
            <div class="custom-input-group">
                <input type="email" name="email" class="form-control" id="" value="{{ request.user.email }}" placeholder="">
            </div>
        </div>

        <div class="custom-form-group btn-lg col-lg-1">
            <input type = "submit", value = "Submit" align="left" class="btn-action" />
        </div>

    </form>

</div>

    {% block extended_js %}
         <script src="{% static 'js/profile.js' %}"></script>
    {% endblock extended_js %}

{% endblock %}