{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
            <div class="panel panel-{{ message.tags }}">
                <div class="panel-heading">Payment Status</div>
                <div class="panel-body">
                    {% for message in messages %}
                    <p>
                        {{ message }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>    
{% endblock main %}