amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
billiard==3.3.0.23
celery==3.1.23
cloudinary==1.1.3
colorama==0.3.6
coverage==3.7.1
coveralls==1.0
decorator==4.0.9
dj-database-url==0.3.0
Django==1.8.3
django-all-access==0.7.2
django-allauth==0.25.2
django-bower==5.0.4
django-carton==1.2.1
django-celery==3.1.17
django-envie==0.0.9
django-filter==0.13.0
django-haystack==2.4.0
django-jsonfield==0.9.15
django-nexmo==1.0.1
django-nose==1.4.2
django-postgrespool==0.3.0
django-rest-swagger==0.3.5
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
docopt==0.6.2
fake-factory==0.5.3
funcsigs==0.4
gnureadline==6.3.3
gunicorn==19.3.0
hashids==1.1.0
ipaddr==2.1.11
ipython==4.1.2
ipython-genutils==0.1.0
kombu==3.0.35
Markdown==2.6.6
maxminddb==1.2.0
meld3==1.0.2
mock==1.3.0
nose==1.3.7
oauthlib==1.0.3
pathlib2==2.1.0
pbr==1.8.0
pexpect==4.0.1
pickleshare==0.7.2
pluggy==0.3.1
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.30
pycrypto==2.6.1
PyJWT==1.4.0
pyotp==2.0.1
python-geoip==1.2
python-geoip-geolite2==2015.303
python-openid==2.2.5
python-termstyle==0.1.10
pytz==2015.7
PyYAML==3.11
rednose==0.4.3
requests==2.7.0
requests-oauthlib==0.5.0
selenium==2.47.1
sendgrid==1.5.14
simplegeneric==0.8.1
six==1.9.0
smtpapi==0.2.0
SQLAlchemy==1.0.8
stripe==1.27.1
supervisor==3.2.3
tox==2.1.1
traitlets==4.2.1
virtualenv==13.1.2
whitenoise==2.0.3
Whoosh==2.7.0
