coverage==3.7.1
dj-database-url==0.3.0
Django==1.8.3
django-all-access==0.7.2
django-postgrespool==0.3.0
funcsigs==0.4
gunicorn==19.3.0
hashids==1.1.0
oauthlib==1.0.3
pycrypto==2.6.1
mock==1.3.0
pbr==1.8.0
psycopg2==2.6.1
requests==2.7.0
requests-oauthlib==0.5.0
selenium==2.47.1
wheel==0.24.0
SQLAlchemy==1.0.8
whitenoise==2.0.3
six==1.9.0
django_envie==0.0.4