.main_container
{
	min-height: 500px;
    padding-top: 150px;
}

i
{
	padding: 5px 15px;
}

.subscriber_form
{
	text-align: center;
}

/* style for create user modal on signin.html*/
.create_modal
{
    padding: 40px;
}