<div id=":bf" class="a3s" style="overflow: hidden;">
	<u></u>
	<div style="background-color:#f6f6f6;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;min-height:100%;line-height:1.6;margin:0;padding:0;width:100%" bgcolor="#f6f6f6" height="100%" width="100%">

		<table style="background-color:#f6f6f6;border-collapse:separate;border-spacing:0;width:100%" bgcolor="#f6f6f6" width="100%">
			<tbody>		
				<tr>
					<td style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;vertical-align:top" valign="top"></td>
					<td style="display:block;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0 auto;max-width:580px;padding:10px;text-align:center;vertical-align:top;width:auto" align="center" valign="top" width="auto">

	  					<div style="display:block;margin:0 auto;max-width:580px;padding:10px;text-align:left" align="left">

							<table style="background:#fff;border:1px solid #e9e9e9;border-collapse:separate;border-radius:3px;border-spacing:0;width:100%" width="100%">
								<tbody>
									<tr>
										<td style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;padding:30px;vertical-align:top" valign="top">
	  										<table style="border-collapse:separate;border-spacing:0;width:100%" width="100%">
		  										<tbody>
		  											<tr>
														<td style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;vertical-align:top" valign="top">
															<p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">Thanks for choosing Troupon. Please activate your account by clicking the button below</p>
															
															<table style="border-collapse:separate;border-spacing:0;margin-bottom:15px;width:auto" width="auto">
																<tbody>
																	<tr>
																		<td style="background-color:#348eda;border-radius:5px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;text-align:center;vertical-align:top" align="center" bgcolor="#348eda" valign="top">
					  														<a href="{{ activation_hash_url }}" style="background-color:#348eda;border:solid 1px #348eda;border-color:#348eda;border-radius:5px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;text-transform:capitalize" bgcolor="#348eda" target="_blank">Activate Troupon Account</a>
																		</td>
				  													</tr>
				  												</tbody>
			  												</table>
															
															<p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">We may need to communicate important service level issues with you from time to time, so it's important we have an up-to-date email address for you on file.</p>

															<p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">Thanks and happy deal-shopping, The Troupon Team.</p>
			  											</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;vertical-align:top" valign="top"></td>
				</tr>
			</tbody>
		</table>
		<div class="yj6qo"></div>
		<div class="adL"></div>
	</div>
	<div class="adL"></div>
</div>