{% extends "base.html" %}
{% load static %}

{% block main %}

    <section class="row">
        <!-- heading -->
        {% include "snippet_section_heading.html" with title="Account Registration"  description="" %}
    </section>

    <section class="row">

        {% if messages %}

            {% for message in messages %}
                <div class="well">
                    <h2>Activation mail sent!</h2>
                    <p>You have successfully registered. A mail has been sent to your email address {{ message }}. Follow the link in the mail to activate your account</p>
                    <br >
                    <P>Troupon Team</P>
                </div>
            {% endfor %}

        {% else %}

            <div class="well">
                <h2>Account creation failed</h2>
                <P>Please Re-enter you signup details</P>
            </div>

        {% endif %}

    </section>

{% endblock %}
