{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <h1>Account Recovery</h1>
                <form method="POST" action="" class="">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    Enter the email for your registered account below:
                    <div class="form-group">
                        <label for="{{ email_form.email.id_for_label }}">
                            {{ email_form.email.label }}: {% if email_form.email.field.required %}<span class="alt-color">*</span>{% endif %}
                        </label>
                        {{ email_form.email }}
                        {{ email_form.email.errors }}
                    </div>
                    <input type="submit" value="Recover Password" class="btn btn-default"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}














