<h1>Account Recovery</h1>
<form method="POST" action="" class="">
    {% csrf_token %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    Enter the email for your registered account below:
    <div>
        <label for="{{ email_form.email.id_for_label }}">
            {{ email_form.email.label }}: {% if email_form.email.field.required %}<span class="alt-color">*</span>{% endif %}
        </label>
        {{ email_form.email }}
        {{ email_form.email.errors }}
        <span class="">
            <input type="submit" value="Recover Password" class=""></input>
        </span>
    </div>
</form>


