{% load staticfiles %}
    <div class="modal-view" id="modal-change-password">

        <div class="col-xs-12 col-sm-12" id="change-password-section">
            <h1>Change Password</h1>

            <form method="POST" action="/account/changepassword/{{ request.user.username }}"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <p>Password:  <input type="password" name="password1"></p>
                <p>Confirm Password: <input type="password" name="password2"></p>
                <p><input type="submit" value='Change Password'></p>
            </form>
        </div>
    </div>
            