{% extends "base.html" %}
{% load static%}

{% block main %}

{% for field in form %}
 {{ field.form }}
{% endfor %}
 
{% if messages %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}


<div>
    <h1>My Account</h1>
    <p>Manage account settings and profile information</p>
</div>

<div class = "row">
    
    <div class="col-md-2">
        <a href = "#">Profile</a><br>
        <a href = "#">Edit Profile</a><br>
        <a href="#modal-changepassword" data-toggle="modal">Change Password</a><br>
        <a href = "">History</a><br>
    </div>

    <div class="col-md-6">

        <div class="container">
            <p>Email: {{ request.user.email }}</p>
            <p> Username: {{ request.user.username }}</p>

            <p> Firstname: {{ profile.first_name}}</p>
            <p> Lastname:  {{ profile.last_name }} 
            <p> Interest:  {{ profile.interest }} </p>
        </div>

        <form action="/account/profile/user/{{ request.user.username }}" method="POST" id="profile-section">{% csrf_token %}
            <div class="form-group col-lg-12">
                <label>Location: </label>
                <select name="user_state" placeholder="Ikeja.Lagos">
                {% for choice in states.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == states.default %}selected{% endif %} >
                        {{ choice.1 }}
                    </option>
                {% endfor %}
                </select>
             </div>            
            <div class="form-group col-lg-6">
                <label>First Name</label>
                <input type="text" name="first_name" class="form-control" id="" value="" placeholder="{{ profile.first_name }}">
            </div>
            <div class="form-group col-lg-6">
                <label>Last Name</label>
                <input type="text" name="last_name" class="form-control" id="" value="" placeholder="{{ profile.last_name }}">
            </div>
            <hr>
            <div class="form-group col-lg-12">
                <label>Interest</label>
                <input type="text" name="interest" class="form-control" id="" value="" placeholder="{{ profile.interest }}">
            </div><br>            
            <div class="form-group btn-lg col-lg-1">
                <input type = "submit", value = "Save Changes" align="left" />
            </div>
        </form>
        
        <div class="modal fade" id="modal-changepassword" role="dialog" >
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="col-xs-12 col-sm-12" id="changepassword-section">
                        <h1>Change Password</h1>

                        <form method="POST" action="/account/changepassword/{{ request.user.username }}" >{{ csrf_token }}
                        <p>Password:  <input type="password" name="password1"></p>
                        <p>Confirm Password: <input type="password" name="password2"></p>
                        <p><input type="submit" value = 
                        'Change Password'></p>
                        </form>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>           
</div>

{% endblock %}

{% block extended_js %} 
   <script src="{% static 'js/profile_scripts.js' %}"></script>
{% endblock extended_js %}