{% extends "account/profile_base.html" %}
{% load static%}

{% block sidebar_menu %}
  {% with active_tab='My profile' %}
    {{ block.super }}
  {% endwith %}
{% endblock sidebar_menu %}

{% block subview %}
  <div class="row">
    <div class="col-sm-7">

      <div class="custom-form-group">
        <label>Email <span class="label-asterik">*</span></label>
        <div class="custom-input-group">
        <input type="text" name="interest" id="" value="" placeholder="{{ request.user.email }}" disabled="disabled">
        </div>
      </div>

      <form action="{% url 'account_profile' %}" method="POST" id="profile-section"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="custom-form-group">
          <label>Location <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <span class="right-icon"><i class="fa fa-angle-down"></i></span>
            <select name="user_state" placeholder="Ikeja.Lagos">
              {% for choice in states.choices %}
                <option value="{{ choice.0 }}" {% if choice.0 == states.default %}selected{% endif %} >
                  {{ choice.1 }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="custom-form-group">
          <label>First Name <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
          <input type="text" name="first_name" id="" value="" placeholder="{{ request.user.first_name }}" {% if not request.user.first_name %} required {% endif %}>
          </div>
        </div>

        <div class="custom-form-group">
          <label>Last Name <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
          <input type="text" name="last_name" id="" value="" placeholder="{{ request.user.last_name }}" {% if not request.user.last_name %} required {% endif %}>
          </div>
        </div>

        <div class="divider"></div>

        <div class="custom-form-group">
          <label>Occupation <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
          <input type="text" name="occupation" id="" value="" placeholder="{{ profile.occupation }}">
          </div>
        </div>

        <div class="custom-form-group">
          <label>Phone Number <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <input type="tel" name="number" id="mobile-number" value="" placeholder="{{ profile.phonenumber }}" {% if not profile.phonenumber %} required {% endif %}>
            <span id="valid-msg" class="hide">✓ Valid</span>
            <span id="error-msg" class="hide">Invalid number</span>
            <input id="hidden" type="hidden" name="phonenumber">
          </div>

        </div>

        <button type="submit" class="btn-action btn-form-submit">Save Changes</button>

      </form>
    </div>
  </div>

{% endblock subview %}
