<h1>Reset Password</h1>
<form method="POST" action="" class="">
	{% csrf_token %}
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}
	Enter and confirm your new password in the fields below:
    <div>
        <label for="{{ reset_password_form.password1.id_for_label }}">
        	{{ reset_password_form.password.label }}: {% if reset_password_form.password.field.required %}<span class="alt-color">*</span>{% endif %}
        </label>
		{{ reset_password_form.password }}
		{{ reset_password_form.password.errors }}
    </div>
    <div>
        <label for="{{ reset_password_form.password2.id_for_label }}">
        	{{ reset_password_form.password2.label }}: {% if reset_password_form.password2.field.required %}<span class="alt-color">*</span>{% endif %}
        </label>
		{{ reset_password_form.password2 }}
		{{ reset_password_form.password2.errors }}
    </div>
    <div class="">
        <input type="submit" value="Reset Password" class=""></input>
    </div>
</form>