<html>
	<body>
		<div style="overflow: auto;">

			<p style="display: none; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
				Get The Best Discounts On Planet Earth!
			</p>

			<div style="background-color: #f6f6f6; min-height: 504px; line-height: 1.6; margin: auto; padding: 10%; padding-top: 4%; width: 580px; text-align: center; border-radius: 10px 10px 10px 10px;">

				<img src="http://res.cloudinary.com/dbm7io2dj/image/upload/v1465906380/logo-h-sm_mzssnn.png"
					style="padding: 5%">
				<div style="background-color: #fff;font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size: 14px; font-weight: normal; display: block; margin: auto; max-width: 580px; padding: 10%;vertical-align: top; text-align: left; border-radius: 20px 20px 20px 20px;">

						<p>Hello,</p>
			   			<p>Welcome to the Troupon Family. We want to specially thank you for joining us. We are here to
			   				offer you the best discount deals ever. Enjoy!
			   			</p>
						<p style="margin: 0; margin-bottom: 15px; padding: 0">Click the button below to activate your Troupon account.
						</p>

						<div style="border-collapse: separate; border-spacing: 0; width: auto; margin-bottom: 15px; text-align: left; vertical-align: top;">

							<a href="{{ activation_hash_url }}" style="background-color: #e67e22; border: solid 1px #e67e22;border-color: #e67e22; border-radius: 5px; color: #fff; display: inline-block; font-size: 14px;font-weight: bold; margin: 0; padding: 12px 25px; text-decoration:none;text-transform:capitalize" target="_blank"> ACTIVATE</a>

						</div>

					<p>Please disregard this email if you did not signup on Troupon.</p>
					<p>Thanks,</p>
					<p>Troupon Team.</p>

				</div>

			</div>
		</div>
	</body>
</html>