<div style="overflow: hidden;">

	<div style="background-color:#fff;min-height:100%;line-height:1.6;margin:0;padding:0;width:100%">

		<div style="background-color:#f6f6f6;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;display:block;margin:0 auto;max-width:580px;padding:10%;vertical-align:top;text-align:left">

			<p style="margin:0;margin-bottom:15px;padding:0">Click the button below to reset the password for your Troupon account.</p>
			
			<div style="border-collapse:separate;border-spacing:0;width:auto;margin-bottom:15px;text-align:left;vertical-align:top;">

				<a href="{{ recovery_hash_url }}" style="background-color:#348eda;border:solid 1px #348eda;border-color:#348eda;border-radius:5px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;text-transform:capitalize" target="_blank">Reset Troupon Password</a>

			</div>
			
			<p style="margin:0;margin-bottom:15px;padding:0">Please disregard this email if you have not requested password recovery.</p>

			<p style="margin:0;margin-bottom:15px;padding:0">Thanks, Troupon Team.</p>

		</div>

	</div>

</div>