{% extends "base.html" %}
{% load static %}

{% block extended_css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/page_styles.css' %}" />
{% endblock extended_css %}

{% if messages %}
  <div class="col-sm-12 no-left">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
        </div>
    {% endfor %}
  </div>
{% endif %}

{% block main %}
    <div class="modal-view" id="modal-sign-in">
        <div class="row">
            <div class="col-sm-5 hidden-xs brand-col">
                <div class="brand">
                   <img src="{% static 'img/logo-v-lg.png' %}" alt="Troupon logo">
                </div>
            </div>
            <div class="col-xs-11 col-sm-5">
                <header class="row">
                    <div class="col-lg-4">
                        <h2>Log in</h2>
                    </div>
                    <div class="col-lg-8">
                        <p>Don't have an account yet? <a id="user_register_link" href="{% url 'register' %}" class="modal-toggle" data-modal-target="#modal-sign-up">Register Here</a></p>
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-12">
                        <form action="{% url 'login' %}" method="POST"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <div class="custom-form-group">
                                <label for="email">Email <span class="label-asterik">*</span></label>
                                <div class="custom-input-group">
                                    <input type="email" name="username" id="email" placeholder="lagbaja@somedomain.com">
                                </div>
                            </div>
                            <div class="custom-form-group">
                                <label for="password">Password <span class="label-asterik">*</span></label>
                                <div class="custom-input-group">
                                    <input type="password" name="password" id="password" placeholder="At least 6 characters.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><a href="{% url 'account_forgot_password' %}">Forgot your password?</a></p>
                                </div>
                            </div>
                            <input id="loginBtn" type="submit" class="btn-action btn-form-submit" value="Log in" />
                            <a href="">Log in with Facebook</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
