{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
            <h2 class="spacer">About Us</h2>
            <br />
            <p>
                Troupon is a marketing service that offers its subscribers daily discount coupons. Typical Troupon deals focus on local restaurants, stores, services, events and regional products. Today, there are zero million registered Groupon users worldwide.
            </p>
            <p>
                Troupon is a global e-commerce marketplace connecting millions of subscribers with local merchants by offering activities, travel, goods and services in more than 45 countries. Troupon was launched in November 2015, and the first market for Troupon was Lagos, followed soon thereafter by Aba, Port Harcourt and Abuja.
            </p>
            </div>
        </div>
    </div>
{% endblock main %}