 {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Troupon - {% block title %}Get Some!{% endblock title %}</title>
    
    {% block base_css %}
    <!-- Bootstrap Core -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" media="screen" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700italic,700,300,400italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <!-- Troupon base-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_styles.css' %}" />
    {% endblock base_css %}


    {% block extended_css %} 
    {# override this block to add app/feature-specific css in extending templates #}
    {% endblock extended_css %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    <div class="container-fluid viewport-container {% if shaded_bg %}shaded{% endif %}"> <!-- viewport container (wraps everything)-->

        <div class="container page-container modals-parent"> <!-- page container (contains page content)-->

            {% block subscribe %}
            {% if show_subscribe %} {# does not show by default #}
            <!-- subscribe bar -->
            <section class="collapse in" id="subscribe-bar">
                <form action="" action="" method="POST">
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">
                            <div class="tag-line">
                                <span>Be the first to know! Subscribe to the Troupon Newsletter today!</span></p>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-4 col-lg-5">
                            <div class="custom-input-group">
                                <span class="left-icon"><i class="fa fa-envelope fa-fw"></i></span>
                                <input type="email" name="email" id="subscriberEmail" placeholder="Your email" required>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-lg-1">
                            <button type="submit" class="btn-action-alt"><i class="fa fa-paper-plane fa-fw"></i><span class="hidden-xs"> Subscribe</span></button>
                        </div>
                    </div>
                </form>
                <button type="button" class="section-close" data-toggle="collapse" data-target="#subscribe-bar"><span>&times;</span></button>
                <div class="divider"></div>
            </section>
            {% endif %}
            {% endblock subscribe %}


            {% block header %}
            <!-- header bar-->
            <header id="header-bar">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="brand">
                           <a class="logo" href="{% url 'homepage' %}"><img src="{% static 'img/logo-h-sm.png' %}" alt="Troupon logo"></a>
                        </div>
                        
                        <button type="button" class="menu-toggle visible-xs collapsed" data-toggle="collapse" data-target="#menu-bar"><i class="fa fa-bars"></i></button>
                        {% if show_search %}
                        <button type="button" class="search-toggle visible-xs collapsed" data-toggle="collapse" data-target="#search-bar"><i class="fa fa-search"></i></button>
                        {% endif %}
                    </div>
                    <div class="navbar-collapse collapse" id="menu-bar">
                        <nav class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
                            <ul class="nav-menu">
                                <li><a href="{% url 'homepage' %}" class="hidden-sm">Home</a></li>
                                <li><a href="">Deals</a></li>
                                <li><a href="">Categories</a></li>
                                <li><a href="">Cities</a></li>
                                <li><a href="" class="hidden-sm">Support</a></li>
                            </ul>
                        </nav>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                            {% if request.user.is_authenticated %}
                            <ul class="member-options">
                                <li>
                                    <a href=""><span class="badge">7</span><i class="fa fa-shopping-cart fa-fw"></i></a>
                                </li>
                                <li class="divider-v"></li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-user fa-fw"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li class="dropdown-header">Signed in as:</li>
                                        <li><a href="">Oluwafemi Sule</a></li>
                                        <li class="divider"></li>
                                        <li><a href=""><i class="fa fa-user fa-fw"></i> My Profile</a></li>
                                        <li><a href=""><i class="fa fa-key fa-fw"></i> Change Password</a></li>
                                        <li><a href=""><i class="fa fa-th-list fa-fw"></i> View History</a></li>
                                        <li  class="divider"></li>
                                        <li><a href=""><i class="fa fa-lock fa-fw"></i> Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                            {% else %}
                             <ul class="auth-options">
                                <li><a href="{% url 'signin' %}" class="modal-toggle" data-modal-target="#modal-sign-in">Sign in</a></li>
                                <li class="divider-v"></li>
                                <li><a href="{% url 'UserSignupView' %}" class="modal-toggle" data-modal-target="#modal-sign-up">Sign up</a></li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </header>
            {% endblock header %}

            {% block search %}
            {% if show_search %} {# does not show by default #}
            <!-- search bar-->
            <section id="search-bar" class="navbar-collapse collapse">
                <form class="form-inline" action="{% url 'dealsearchcity' %}" method="GET">
                    <div class="row">
                        <div class="col-sm-5 col-md-6 col-lg-6">
                            <div class="custom-input-group">
                                <span class="left-icon"><i class="fa fa-search"></i></span>
                                <input type="text" id="search" name="q" placeholder="e.g. barbeque discounts in Ikeja." aria-label="search query">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="custom-input-group">
                                <span class="left-icon"><i class="fa fa-map-marker"></i></span>
                                <span class="right-icon"><i class="fa fa-angle-down"></i></span>
                                <select name="city" placeholder="Select City">
                                    {% for choice in states.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == states.default %}selected{% endif %} >
                                            {{ choice.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <button type="submit" class="btn-action">Find Deals <i class="fa fa-angle-double-right fa-fw"></i></button>
                        </div>
                    </div>
                </form>
            </section>
            {% endif %}
            {% endblock search %}

            <main>
            {% block main %}
                {# The main content of the page (added in extending/subclassing templates) goes here. #}
                {# NOTE: the <main> tag is excluded from the main block so subclassing templates need not include them. #}
                <div class="placeholder">
                    <p>View content goes here!</p>
                </div>
            {% endblock main %}
            </main>

            {% block footer %}
            <footer>
                <div class="divider divider-1"></div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <h4>Troupon Loyalties Ltd.</h4>
                        <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci tation.</p>
                    </div>
                    <div class="col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-1">
                        <h4>Quick links</h4>
                        <ul class="quick-links">
                            <li><a href="">About</a></li>
                            <li><a href="">Investors</a></li>
                            <li><a href="">Team</a></li>
                            <li><a href="">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-offset-1 col-lg-2">
                        <h4>Don't be shy, connect</h4>
                        <ul class="social-links">
                            <li><a href=""><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus fa-fw"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin fa-fw"></i></a></li>
                            <li><a href=""><i class="fa fa-envelope fa-fw"></i></a></li>
                        </ul>    
                    </div>
                    <div class="col-sm-offset-1 col-sm-2 col-md-2 col-lg-offset-1 col-lg-3">
                        <div class="brand">
                           <a class="logo" href="{% url 'homepage' %}"><img src="{% static 'img/logo-h-sm.png' %}" alt="Troupon logo"></a>
                        </div>
                    </div>
                </div>
                <div class="divider divider-2"></div>
                <div class="copyright">
                    <p>Copyright ©2015 Troupon Loyalties Ltd.</p>
                </div>
            </footer>
            {% endblock footer %}

        </div> <!-- ends page container -->

        <!-- modals -->
        <div class="modals-wrapper">
            <div class="container modals-container">

                {% if not request.user.is_authenticated %}

                <!--Sign up modal-->
                <div class="modal-view" id="modal-sign-up">
                    <div class="row">
                        <div class="col-sm-5 hidden-xs brand-col">
                            <div class="brand">
                               <img src="{% static 'img/logo-v-lg.png' %}" alt="Troupon logo">
                            </div>
                        </div>
                        <div class="col-xs-11 col-sm-5">
                            <header class="row">
                                <div class="col-lg-4">
                                    <h2>Sign up</h2>
                                </div>
                                <div class="col-lg-8">
                                    <p>Already have an account? <a href="" class="modal-toggle" data-modal-target="#modal-sign-in">Sign in</a></p>
                                </div>
                            </header>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form action="{% url 'UserSignupView' %}"  method="post">
                                    <div style="display:none">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    </div>
                                        <div class="custom-form-group">
                                            <label for="email">Email <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="email" name="email" id="email" placeholder="lagbaja@somedomain.com">
                                            </div>
                                        </div>
                                        <div class="custom-form-group">
                                            <label for="username">Username <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="text" name="username" id="username" placeholder="">
                                            </div>
                                        </div>
                                        <div class="custom-form-group">
                                            <label for="password1">Password <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="password" name="password1" id="password1" placeholder="At least 6 characters.">
                                            </div>
                                        </div>
                                        <div class="custom-form-group">
                                            <label for="password2">Confirm Password <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="password" name="password2" id="password2" placeholder="Must match Password above.">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-action btn-form-submit">Sign up</button>
                                        <a href="">Sign up with Facebook</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Sign in modal-->
                <div class="modal-view" id="modal-sign-in">
                    <div class="row">
                        <div class="col-sm-5 hidden-xs brand-col">
                            <div class="brand">
                               <img src="{% static 'img/logo-v-lg.png' %}" alt="Troupon logo">
                            </div>
                        </div>
                        <div class="col-xs-11 col-sm-5">
                            <header class="row">
                                <div class="col-lg-4">
                                    <h2>Sign in</h2>
                                </div>
                                <div class="col-lg-8">
                                    <p>Don't have an account yet? <a href="" class="modal-toggle" data-modal-target="#modal-sign-up">Sign up</a></p>
                                </div>
                            </header>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form action="{% url 'signin' %}" method="post">
                                     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    </div>
                                        <div class="custom-form-group">
                                            <label for="email">Email <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="email" name="username" id="email" placeholder="lagbaja@somedomain.com">
                                            </div>
                                        </div>
                                        <div class="custom-form-group">
                                            <label for="password">Password <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="password" name="password" id="password" placeholder="At least 6 characters.">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><a href="" class="modal-toggle" data-modal-target="#modal-forgot-password">Forgot your password?</a></p>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-action btn-form-submit">Sign in</button>
                                        <a href="">Sign in with Facebook</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Forgot-Password modal-->
                <div class="modal-view" id="modal-forgot-password">
                    <div class="row">
                        <div class="col-sm-5 hidden-xs brand-col">
                            <div class="brand">
                               <img src="{% static 'img/logo-v-lg.png' %}" alt="Troupon logo">
                            </div>
                        </div>
                        <div class="col-xs-11 col-sm-5">
                            <header class="row">
                                <div class="col-lg-8">
                                    <h2>Recover Account</h2>
                                </div>
                                <div class="col-lg-4">
                                    <p><a href="" class="modal-toggle" data-modal-target="#modal-sign-in">Sign in</a> or <a href="" class="modal-toggle" data-modal-target="#modal-sign-up">Sign up</a></p>
                                </div>
                            </header>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Enter the email for your registered account below. A recovery mail will be sent to your inbox. Follow the link in the mail to recover your account.</p>
                                    <form action="" action="" method="post">
                                     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    </div>
                                        <div class="custom-form-group">
                                            <label for="email">Email <span class="accent">*</span></label>
                                            <div class="custom-input-group">
                                                <input type="email" name="email" id="email" placeholder="lagbaja@somedomain.com">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-action btn-form-submit">Send Recovery Mail</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% block extended_modals %}

                {% endblock extended_modals %}

            </div>
            <button type="button" id="modals-close"><span>&times;</span><span class="caption hidden-xs">Escape</span></button>
        </div> <!-- ends modals -->
        

    </div> <!-- ends viewport container -->

    {% block base_js %}
        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Bootstrap Core -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Troupon base-->
        <script src="{% static 'js/base_scripts.js' %}"></script>
    {% endblock base_js %}

    {% block extended_js %}
         <!-- override this block to add app/feature-specific js libraries and scripts in extending templates -->
    {% endblock extended_js %}
    
</body>

</html>