<div class="gallery-item deal-thumb">
    <div class="back">
        <img class="gallery-image" src="{{ deal.slide_image_url }}"/>
        <div class="overlay"></div>
    </div>
    <div class="fore">
        <div class="row">
            <div class="col-sm-9">
                <div class="info">
                    <h3>{{ deal.title }}</h3>
                    <p class="advertiser">
                        <i class="fa fa-map-marker"></i> 
                        <span>{{ deal.advertiser.name }}, {{ deal.advertiser.address|truncatechars:40 }}</span>
                    </p>
                    <p class="prices">
                        <span class="original-price">{{ deal.original_price }}</span>
                        <span class="current-price">{{ deal.price }}</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn-action"><i class="fa fa-plus"></i> Buy Deal</button>
            </div>
        </div>
    </div>
</div>