{% extends "base.html" %}
{% load static %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2 class="spacer">Investors</h2>
        <br />
        <h3>Our list of investors include</h3>
        <br />
        <ul class="list-group">
          <li class="list-group-item">Tosin Adesanya Investments</li>
          <li class="list-group-item">Andela Talent Accelerator</li>
          <li class="list-group-item">Spectre Global</li>
          <li class="list-group-item">Sharp Sharp Investments</li>
          <li class="list-group-item">Goal Getters</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock main %}