{% load staticfiles %}
<!--Forgot-Password modal-->
<div class="modal-view" id="modal-forgot-password">
  <div class="row">
    <div class="col-sm-5 hidden-xs brand-col">
      <div class="brand">
         <img src="{% static 'img/logo-v-lg.png' %}" alt="Troupon logo">
      </div>
    </div>
    <div class="col-xs-11 col-sm-5">
      <header class="row">
        <div class="col-lg-8">
          <h1>Recover Account</h1>
        </div>
        <div class="col-lg-4">
          <p><a href="" class="modal-toggle" data-modal-target="#modal-login">Log in</a> or <a href="" class="modal-toggle" data-modal-target="#modal-register">Register</a></p>
        </div>
      </header>
      <div class="row">
        <div class="col-sm-12">
          <p>Enter the email for your registered account below. A recovery mail will be sent to your inbox. Follow the link in the mail to recover your account.</p>
          <form action="{% url 'account_forgot_password' %}" method="POST">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="custom-form-group">
              <label for="email">Email <span class="label-asterik">*</span></label>
              <div class="custom-input-group">
                <input type="email" name="email" id="email" placeholder="lagbaja@somedomain.com">
              </div>
            </div>
            <button type="submit" class="btn-action btn-form-submit">Send Recovery Mail</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>