{% load staticfiles %}

<!--Sign in modal-->
<div class="modal-view modal-listing" id="modal-{{ active_tab }}">
  <div class="container">
  <div class="row">

    <div class="col-lg-12">
      <ul class="header-tab-list menu">
        {% with 'categories cities merchants' as tab_list %}
        {% for tab_item in tab_list.split %}        
        <li>
          {% if active_tab == tab_item %}
            <h1 class="tab active accent">
          {% else %}
            <h1 class="tab modal-toggle" data-modal-target="#modal-{{ tab_item }}" >
          {% endif %}
              {{ tab_item|title }}
            </h1>
        </li>
        {% endfor %}
        {% endwith %}
      </ul>
    </div>
    
    <div class="col-xs-12">
      {# <ul class="label-link-list-h "> #}
      <div class="packery-grid modal-grid listing">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% for item in list %}

          <div class="grid-item label-link">
          {% if active_tab == 'categories' %}
            <a href="{% url 'deal-filter-with-slug' filter_type='category' filter_slug=item.slug %}">{{ item.name|truncatechars:30 }}</a>
          {% elif active_tab == 'cities' %}
            <a href="{% url 'deal-filter-with-slug' filter_type='city' filter_slug=item.1|slugify %}">{{ item.1|truncatechars:30 }}</a>
          {% elif active_tab == 'merchants' %}
            <a href="{% url 'deal-filter-with-slug' filter_type='merchant' filter_slug=item.slug %}">{{ item.name|truncatechars:30 }}</a>
          {% endif %}
          </div>

        {% endfor %}
      {# </ul> #}
      </div>
    </div>

  </div>
  </div>
</div>