.deal-item {
    padding: 18px;
}
.deal-item .fill {
    height: 250px;
    width: 250px;
    background-color: #ECDDB6;
    float: left;
    overflow: hidden;
    margin: 20px;
}

.deal-item .fill img {
    min-width:100%;
    height:auto;
    text-align: center;
    padding: 50px;
}