.deal-item {
    padding: 18px;
}


.infix img{
    height: auto;
    width: 100%;
}
.infix {
    padding: 25px 30px 15px 0px;
    overflow: hidden;
}

.row {
    margin: 25px 0px;
}

.second.row{
    margin: 45px 0px;
}