/* =========================================================================
intl tel input styles:
========================================================================== */
.iti-flag {
  background-image: url("../img/flags.png");
}

.btn-file {
    position: relative;
    overflow: hidden;
    background: #660066;
    color: white;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.images{
    display:inline-block;
    width:300px;
    height:250px;
    overflow:hidden;
    position: relative;
    margin: 0 auto;
}
#merchant-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label.file-upload-label input[type="file"] {
    position: fixed;
    top: -1000px;
}
.file-upload-label {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    background: #660066;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-top: 5px;
}
.file-upload-label:hover {
    background: #E07825;
}
.file-upload-label:active {
    background: #E07825;
}
.file-upload-label :valid + span {
    color: #ffffff;
}
.glyphicon-folder-open{
    margin-right: 10px;
}