
/* ==========================================================================
links
========================================================================== */


a {
    color: color(a);
    text-decoration: none;
    &:hover {
        color: color(a-hover);
        text-decoration: none;
    }
    &:active {
        @extend a:hover;
        color: color(a-active);
    }
    &:focus {
        @extend a:hover;
        color: color(a-focus);
    }
}
.menu-link {
    @extend a;
    font: {
        weight: font-weight(bold);
    }
}
.label-link {
    @extend .menu-link;
    font: {
        size: font-size(label);
    }
    text-transform: uppercase;
}



/* ==========================================================================
Buttons
========================================================================== */

.btn-action {
    @include btn-action-mixin (btn, component-height(custom-input));
    margin: 5px auto;
}

.btn-action-alt {
    @include btn-action-mixin (btn-alt, component-height(custom-input));
    margin: 5px auto;
}

.btn-form-submit {
    @include fluid-width-xs;
    min-width: 150px;
    margin: 15px auto;
}



/* ==========================================================================
Forms Controls
========================================================================== */

.custom-input-group {
    @include input-group-mixin(component-height(custom-input));
    margin: 5px auto;
}

.custom-form-group {
    @include form-group-mixin();
    margin: 10px auto;
}



/* ==========================================================================
Other components.
========================================================================== */

.accent {
    color: color(accent);
    font-size: font-size(body)
}