
/* ==========================================================================
Sections
========================================================================== */

//entire body:

html, body, .viewport-container {
  height: 100%;
}

body {
  position: relative;
  min-width: 360px;

  background-color: color(body-bg);
}

//newsletter bar:

#newsletter-bar {
  position: relative;
  margin-top: 10px;

  .tag-line {
    margin: 0 5px;
    span {
      font-weight: font-weight(regular);
      color: color(accent);
    }
  }

  .section-close {
    @include btn-icon-mixin (btn-icon, icon-size(md), rect);

    position: absolute;
    top: 5px;
    right: 0;
  }

  .custom-input-group, .btn-action, .btn-action-alt {
    @include fluid-width;
  }

  @media (min-width: 768px) {

    .tag-line {
      position: relative;
      min-height: 55px;
      span {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
    .section-close {
      @include btn-icon-mixin (btn-icon, icon-size(md), rect);
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}


// header bar:

#header-bar {
  position: relative;
  margin: 30px 0 10px;

  .menu-toggle, .search-toggle {
    @include btn-action-mixin (btn-alt, 50px);
  }

  [class *='col-'] {
    @include contents-v-middle(50px);
  }

  .menu-toggle, .search-toggle {
    right: 10px;
  }

  .search-toggle {
    transform: translate(-110%, -50%);
  }

  .nav-menu, .member-options, .auth-options {
    @include unstyled-h-list-mixin;
    right: 0;

    & > li > a {
      @extend .menu-link;
      padding: 15px;
    }

    .divider-v {
      height: 23px;
    }
  }

  .member-options {
    z-index: z-index(dropdown);
    .user-info, .dropdown-header {
      padding: 3px 20px;
    }
    .user-info {
      font-weight: font-weight(bold);
    }

  }
  
  .auth-options {
    & > li > a {
      @extend .label-link;
      padding: 5px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}


// search bar:

#search-bar {
  @include shaded-border;
  
  position: relative;
  margin-top: -1px;
  min-height: 1px;
  overflow: hidden;

  .custom-input-group, .btn-action, .btn-action-alt {
    @include fluid-width;
  }
}


//main section:

main {
  min-height : 500px;
  
  .placeholder { //to be removed in production:
    p {
      width: 100%;
      transform: translateY(60px);

      font: {
        weight: font-weight(light);
        size: font-size(h2);
      }
      color: color(label);
      letter-spacing: -3px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    min-height : 300px;

    .placeholder { //to be removed in production:
      p {
        transform: translateY(60px);
        font-size: font-size(h2-xs);
        letter-spacing: -1px;
      }
    }
  }
}


// footer section:

footer {
  margin: 30px 0;

  .divider-1 {
    margin-bottom: 25px;
  }

  .divider-2 {
    margin: 20px auto;
  }

  p {
    font-size: font-size(mini);
    text-align: justify;
  }

  .quick-links {
    @include unstyled-list-mixin;

    & > li > a {
      @extend .menu-link;
      font-size: font-size(label);
    }
  }

  .social-links {
    @include unstyled-h-list-mixin;

    & > li {
      margin: 2px;  
    }

    & > li > a {
      @include btn-icon-mixin (btn-icon-fill, icon-size(sm), circle);
      // font-size: font-size(label);
    }

  }

  .brand {
    float: right;
    transform: translateY(10px);
  }

  .copyright p{
    text-align: center;
  }

  @media (max-width: 768px) {

    &, p, .brand, .social-links, .quick-links {
      text-align: center;
      float: none;
    }

    [class *='col-'] {
      padding-bottom: 20px;
    }

    .divider-2 {
      margin: 5px auto 10px;
    }
  }
}


// dashboard subview:

.subview-wrapper {
  padding-left: 50px;

  form > .divider {
    margin-bottom: 30px;
  }
}


// modals:

.modals-wrapper {

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: z-index(modal);
  overflow: scroll;

  background-color: color(modal-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }

  #modals-close {
    @include btn-icon-mixin (btn-icon, icon-size(lg), rect);

    position: fixed;
    overflow: visible;
    top: 10px;
    right: 20px;

    .caption {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      font-weight: font-weight(bold);
      font-size: font-size(label);

      text-transform: uppercase;
    }
  }

  .modals-container {
    position: relative;
    min-height: 100%;
    perspective: 1200px;
    overflow-x: hidden;
    padding-x: 50px;
  }

  .loginmdl {
    margin-top: 20px;
  }

  .modal-view {
    position: absolute;
    padding-top: 10%;
    padding-bottom: 10%;
    min-width: 100%;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-25%) rotateX(35deg);
    
    transition: transform 0.5s, opacity 0.5s;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: rotateX(0deg);
    }

    &.close {
      opacity: 0;
      transform: translateY(25%) rotateX(-35deg);
    }
  }
}
.modals-parent {
  &.open{
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(20px);
    transition: all 0.5s;
  }
}


// specific modals:

%modal-auth {
  
  .brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header {
    p > a {
      @extend .label-link;
      margin-left: 5px;
    }

    @media (min-width: 1200px) {
      [class *='col-'] {
        @include contents-v-middle(60px);
      }
      p {
        width: 95%;
        text-align: right;
      }
    }
  }
}
#modal-login {
  @extend %modal-auth;
  .brand-col {
    min-height: 390px;
  }
}
#modal-register {
  @extend %modal-auth;
  .brand-col {
    min-height: 550px;
  }
}
#modal-forgot-password {
  @extend %modal-auth;
  .brand-col {
    min-height: 300px;
  }
}


// modal lisings:

.modal-listing {
  .listing {
    margin-top: 30px;
  }
}

// messages

.strip {
  padding: 10px 5px 10px;
}

.subject {
  font-size: 22px;
  padding-bottom: 5px;
}

.form-message {
  padding-bottom: 8px;
}

.message {
  background: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-type {
  font-size: 14px;
}

.message-type:after{
  content: "-";
}

.report, .row.space-top {
  margin-top: 30px;
}

@media(max-width: 768px) {
.space-bottom {
    margin-bottom: 30px;
    float: right;
  }
}

@media(max-width: 360px) {
.space-bottom { 
    margin-bottom: 30px;
  }
.subview-wrapper {
    padding-left: 0px;
}
}

@media(max-width: 980px) {
  .space-bottom {
    margin-bottom: 30px;
  }
}

.flash-message{
  margin-bottom: 20px;
}