
/* ==========================================================================
Typography
========================================================================== */

body {
	font-family: font-family(primary);
}

@each $tag, $font-weight in (h1: light, h2: regular, h3: bold, h4: bold, body: regular) {
	#{$tag} {
		font: {
			weight: font-weight(#{$font-weight});
			size: font-size(#{$tag});
		}
		color: color(#{$tag});
	}
}

h1 {
	letter-spacing: -1px;
}

.mini-text {
  font-size: font-size(mini);
}


.mini-label {
	font: {
		weight: font-weight(black);
		size: font-size(label);
	}
	text-transform: uppercase;
}

.section-label {
	@extend .mini-label;

	color: color(label);

	i {
		margin-right: 5px;
	}
}


