
/* ==========================================================================
Typography
========================================================================== */

body {
	font-family: font-family(primary);
}

@each $tag, $font-weight in (body: regular, h2: light, h3: bold, h4: bold) {
	#{$tag} {
		font: {
			weight: font-weight(#{$font-weight});
			size: font-size(#{$tag});
		}
		color: color(#{$tag});
	}
}

h2 {
	letter-spacing: -2px;
}

.mini-text {
  font-size: font-size(mini);
}

.section-label {
	font: {
		weight: font-weight(bold);
		size: font-size(label);
	}
	color: color(label);
	text-transform: uppercase;
}


