
// ==========================================================================
//  Typography
// ==========================================================================

body {
  font-family: font-family(primary);
}

@each $tag, $font-weight in (h1: light, h2: regular, h3: bold, h4: bold, body: regular) {
  #{$tag} {
    color: color(#{$tag});
    font: {
      size: font-size(#{$tag});
      weight: font-weight(#{$font-weight});
    }
  }
}

h1 {
  letter-spacing: -1px;
}

.mini-text {
  font-size: font-size(mini);
}


.mini-label {
  font: {
    size: font-size(label);
    weight: font-weight(#000000);
  }
  text-transform: uppercase;
}

.section-label {
  @extend .mini-label;

  color: color(label);

  i {
    margin-right: 5px;
  }
}

.fa-edit {
  padding-left: 8px;
}

.item-info {
  .title, .advertiser, .price, .address {
    padding-bottom: 20px;
  }

  address {
    margin-bottom: 0px
  }

  .quorum {
    margin-top: 30px;
  }

  a:hover {
    cursor: pointer
  }

  .label-text {
    color: #5E5E77;
    padding-left: 0px;
  }
}
