{% extends "account/profile_base.html" %}
{% load static %}

{% block extended_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock extended_css %}

{% block sidebar_menu %}
  {% with active_tab='My profile' %}
    {{ block.super }}
  {% endwith %}
{% endblock sidebar_menu %}

{% block subview %}
  <div class="row">
    <div class="col-sm-7">

      <div class="custom-form-group">
        <label>Email <span class="label-asterik">*</span></label>
        <div class="custom-input-group">
          <input type="text" name="interest" id="" value="{{ request.user.email }}" placeholder="" disabled="disabled">
        </div>
      </div>

      <form action="{% url 'account_profile' %}" method="POST" id="profile-section"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="custom-form-group">
          <label>Country<span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <span class="right-icon"><i class="fa fa-angle-down"></i></span>
            <select name="user_country" placeholder="Kenya" id="user-country">
              <option value="0" selected>Select your country</option>
              {% for choice in countries.choices %}
                <option value="{{ choice.0 }}">
                  {{ choice.1 }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="custom-form-group hidden" id="kenyan-locations">
          <label>Location<span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <span class="right-icon"><i class="fa fa-angle-down"></i></span>
            <select name="kenya_user_location" placeholder="Nairobi">
              {% for choice in locations_kenya.choices %}
                <option value="{{ choice.0 }}"  {% if choice.0 == locations_kenya.default %}selected{% endif %}>
                  {{ choice.1 }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="custom-form-group hidden" id="nigerian-locations">
          <label>Location<span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <span class="right-icon"><i class="fa fa-angle-down"></i></span>
            <select name="nigeria_user_location" placeholder="Lagos">
              {% for choice in locations_nigeria.choices %}
                <option value="{{ choice.0 }}" {% if choice.0 == locations_nigeria.default %}selected{% endif %} >
                  {{ choice.1 }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="custom-form-group">
          <label>First Name <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <input type="text" name="first_name" id="first_name" value="{{ request.user.first_name }}" placeholder="" {% if not request.user.first_name %} required {% endif %}>
          </div>
        </div>

        <div class="custom-form-group">
          <label>Last Name <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <input type="text" name="last_name" id="last_name" value="{{ request.user.last_name }}" placeholder="" {% if not request.user.last_name %} required {% endif %}>
          </div>
        </div>

        <div class="divider"></div>

        <div class="custom-form-group">
          <label>Occupation <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <input type="text" name="occupation" id="occupation" value="{{ profile.occupation }}" placeholder="">
          </div>
        </div>

        <div class="custom-form-group">
          <label>Phone Number <span class="label-asterik">*</span></label>
          <div class="custom-input-group">
            <input type="tel" name="phonenumber" id="mobile-number" value="{{ profile.intlnumber }}" placeholder="" {% if not profile.phonenumber %} required {% endif %}>
            <span id="valid-msg" class="hide">✓ Valid</span>
            <span id="error-msg" class="hide">Invalid number</span>
            <input id="hidden" type="hidden" name="intlnumber">
          </div>
        </div>

        <button id = "save" type="submit" class="btn-action btn-form-submit">Save Changes</button>
      </form>

    </div>
  </div>

{% endblock subview %}
