{% extends "account/profile_base.html" %}
{% load static%}

{% block sidebar_menu %}
  {% with active_tab='Change Password' %}
    {{ block.super }}
  {% endwith %}
{% endblock sidebar_menu %}


{% block subview %}
  <div class="row">
    <div class="col-sm-7">

      <form method="POST" action="{% url 'account_change_password' %}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="form-group col-lg-12">
            <label>Current Password</label>
            <div class="custom-input-group">
                <input type="password" name="current_password" class="form-control" id="" value="" placeholder="current password">
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label>Password</label>
            <div class="custom-input-group">
                <input type="password" name="password1" class="form-control" id="" value="" placeholder="new password">
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label> Confirm Password</label>
            <div class="custom-input-group">
                <input type="password" name="password2" class="form-control" id="" value="" placeholder="confirm new password">
            </div>
        </div>

        <div class="custom-form-group btn-lg col-lg-1">
            <input type = "submit", value = "Change Password" align="left" class="btn-action" />
        </div>
    </form>

    </div>
  </div>

{% endblock subview %}
